<a href="https://colab.research.google.com/github/luishernandezpw/Progra-III-2022/blob/master/introduccion%20a%20python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo", "Bienvenidos a Programacion Computacional III")

Hola Mundo Bienvenidos a Programacion Computacional III

In [ ]:
print("Luis Hernandez")

Luis Hernandez

In [ ]:
nombre = "Luis Hernandez"
print("Hola", nombre, nombre[5], type(nombre))

nombre = 25
print("Tu edad es: ", type(nombre))

Hola Luis Hernandez H <class 'str'>
Tu edad es:  <class 'int'>

In [ ]:
programacion = True
diseno = False
print("Te gusta Progra", programacion, "Te gusta diseño", diseno, type(programacion))

Te gusta Progra True Te gusta diseño False <class 'bool'>

In [ ]:
edad = int(input("Dime tu edad: "))
if edad>=18: #comparacion da como resultado un valor booleano
  print("Eres un adulto, tienes responsabilidades...")
else:
  print("Eres libre")

Dime tu edad: 25
Eres un adulto, tienes responsabilidades...

In [ ]:
def sumaDosNumeros(num1, num2):
  resp = num1 + num2
  return resp
print( "La suma: ", sumaDosNumeros(2,5) )

La suma:  7

In [ ]:
#funciones anonimas... 
sumaNumeros = lambda num1, num2: num1 + num2
print( "La suma: ", sumaNumeros(4,6))

La suma:  10

In [1]:
numeros = [5,4,7,8,-4,-9] #array unidimensional

In [2]:
def cuadrado(num):
  return num**2

In [3]:
def cubo(num):
  return num**3

In [4]:
def pares(num): #num = 2/2 = 1 == 0
  return num%2==0

In [5]:
def impares(num):
  return num%2!=0

In [6]:
numCuadrado = list(map(cuadrado, numeros))
numXDos = list( map(lambda num: num*2, numeros) )
print("Elevar al cuadradola lista: ",numCuadrado, numXDos )

Elevar al cuadradola lista:  [25, 16, 49, 64, 16, 81] [10, 8, 14, 16, -8, -18]

In [7]:
numCubo = list( map(cubo, numeros) )
print(numCubo)

[125, 64, 343, 512, -64, -729]

In [8]:
#usando filter dejamos solo los pares
pares = list( filter(pares, numeros) )
print(pares)

[4, 8, -4]

In [9]:
impares = list( filter(impares,numeros) )
print(impares)

[5, 7, -9]

In [10]:
#conversor de celsius a f
def cf(c):
  return c*9/5+32

In [11]:
c = float(input("Grados C: "))
print( "G. C a F", cf(c))

Grados C: 27
G. C a F 80.6

In [12]:
celsius = lambda c: c*9/5 + 32
c = int(input("Grados Celsius A convertir: "))

print( celsius(c) )

Grados Celsius A convertir: 27
80.6

In [13]:
gradosc = [27,30,35,40,45]
grados = lambda c: c*1.8 + 32
f = list( map(grados, gradosc) )
print(f)

[80.6, 86.0, 95.0, 104.0, 113.0]